<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gamification</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  //  	    <script>
	 //    $(document).ready(function(){
 	// 	   		console.log($(this).val());
  //       		$.ajax({
  //       			url: "/displayCart",
  //       			success: function(result){
  //           			console.log(result);
  //           			$('#cartDetails').text("");
  //           			for(var i=0;i<result.length;i++)
  //           				$('#cartDetails').append(result[i]+"<br/>");
  //       			}
  //       		});
		// });
		// </script>
       <script type="text/javascript">
          function profileRender(id,product_id)
          {    
            var idValue = document.getElementById('user_id').value;                
            $.ajax({            
              type: "GET",
              contentType: 'application/json',
              url:"http://localhost:3000/users/"+idValue,        
              success: function(data){
                console.log('inside the function profile');
                var parentDiv = document.createElement('div');
                parentDiv.setAttribute('id','portfolio'); 
                parentDiv.setAttribute('class',"bg-light-gray"); 
            //     <div class="container">                                       
            //      <div class="row">
            //     <div class="col-lg-12 text-center">
            //         <h2 class="section-heading">Profile</h2>
                    
            //     </div>
            // </div>
            // <div>
            //   <span class="fa-stack fa-4x">
            //             <i class="fa fa-circle fa-stack-2x text-primary"></i>
            //             <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            //    </span>
            // </div>   

            var containerTag=document.createElement('div');
            containerTag.setAttribute('class',"container");
            var divTag = document.createElement('div');
            divTag.setAttribute('class',"row");
            var childTag1 = document.createElement('div');
            childTag1.setAttribute('class',"col-lg-12 text-center"); 
            divTag.appendChild(childTag1);
            var hTag=document.createElement('h2');
            hTag.setAttribute('class',"section-heading");
            var htagText = document.createTextNode("Profile");
            hTag.appendChild(htagText);
            childTag1.appendChild(hTag);
            var profileTag = document.createElement('div');
            var spanTag=document.createElement('span');
            spanTag.setAttribute('class',"fa-stack fa-4x");
            var iTag = document.createElement('i');
            iTag.setAttribute('class',"fa fa-circle fa-stack-2x text-primary");
            spanTag.appendChild(iTag);
            var iTag1 = document.createElement('i');
            iTag1.setAttribute('class',"fa fa-user fa-stack-1x fa-inverse");
            spanTag.appendChild(iTag1);
            containerTag.appendChild(divTag);
            containerTag.appendChild(spanTag);
            parentDiv.appendChild(containerTag);
                document.body.insertBefore(parentDiv,document.getElementById('contact'));
                var userNameDiv = document.createElement('div');
                userNameDiv.setAttribute('class',"paddingStyle");
                var userName  = document.createTextNode("UserName: "+data.username);
                userNameDiv.appendChild(userName);
                var emailTag = document.createElement('div');
                emailTag.setAttribute('class',"paddingStyle");
                var emailText = document.createTextNode("Email : "+data.email);
                emailTag.appendChild(emailText);
                var genderTag = document.createElement('div');
                genderTag.setAttribute('class',"paddingStyle");
                var genderText = document.createTextNode("Gender : "+data.gender);
                genderTag.appendChild(genderText);
                var city = document.createElement('div');
                city.setAttribute('class',"paddingStyle");
                var cityText = document.createTextNode("City : "+data.city);
                city.appendChild(cityText);
                var stateTag = document.createElement('div');
                stateTag.setAttribute('class',"paddingStyle");
                var stateText = document.createTextNode("State : "+data.state);
                stateTag.appendChild(stateText);
                var nationalityTag = document.createElement('div');
                nationalityTag.setAttribute('class',"paddingStyle");
                var nationalityText = document.createTextNode("Nationality : "+data.nationality);
                nationalityTag.appendChild(nationalityText);
                parentDiv.appendChild(userNameDiv);
                parentDiv.appendChild(emailTag);
                parentDiv.appendChild(genderTag);
                parentDiv.appendChild(city);
                parentDiv.appendChild(stateTag);
                parentDiv.appendChild(nationalityTag);              
                return data;
              }              
            });
          }     
    </script>
</head>

<body id="page-top" class="index">
           

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/products_display"> Products </a></li>
                       
                        <li>
                            <a class= "page-scroll" href="#portfolio">Profile</a>
                        </li>
                        <li>
                            <a href="/cart_items"> YourCart</a>                           
                        </li>
                        <li>
                            <a href="/logout">Log Out 
                            </a>
                        </li>
                        <li>
                          <a href="/yourorders">Your Orders</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            <!-- /.navbar-collapse -->

   
        </div>
        <!-- /.container-fluid -->
    </nav>
     
                           
                        
    <!-- Header -->
    <header id="headerRef">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Keep Calm and Shop ON...</div>
                <button id='user_id' value=<%=user_id%> style="display: none;">
                <div class="intro-heading">Welcome...</div>
                <a href="#services" class="page-scroll btn btn-xl">Shop More</a>
            </div>
        </div>
    </header>
                      
            <script>
            profileRender();           
            </script>                        


     
   

    <!-- Team Section -->
   
    

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-12">-->
                    <form name="sentMessage" id="contactForm" novalidate>
                   <div class="row">
                   <div class="col-lg-6">     
                 
                    
                       <img src="img/venky.jpg" class="img-responsive img-circle" style="width: 40%">
                        <h4 style="color: green;">Venktesh</h4>
                 
                         
                  </div>
                  <div class="col-lg-6">
                
                       <img src="img/khavz.png" class="img-responsive img-circle" style="width: 30%" >
                        <h4 style="color: green;">Khavya</h4>
                
                 
                  </div>
                  <div class="row">
                  <div class="col-lg-6">
                   
                       <img src="img/nandy.jpg" class="img-responsive img-circle" >
                        <h4 style="color: green;">Nandhini</h4>
                   
                  </div> 
                  <div class="col-sm-4">
                   
                       <img src="img/ishu.jpg" class="img-responsive img-circle" >
                        <h4 style="color: green;">Iswarya</h4>
                    
                  </div>         
                  </div>      
                                
                            
                            
                            
                    </form>
               <!--  </div>
            </div> -->
        </div>
    </section>
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
